body {
  text-align: center;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}
.specific-heading {
  font-weight: 900;
  font-size: 1.5rem;
}
.container-fluid {
  padding: 7% 15%;
}
.colored-section {
  background-color: #ff4c68;
  color: white;
}
.white-section {
  background-color: #fff;
}
/*============Begin title section================= */

/* General */

#title .container-fluid {
  padding: 3% 15% 10% 15%;
  text-align: left;
}
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}
@media screen and (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
  }
  #title .container-fluid {
    text-align: center;
  }
}

/* Navbar configuration */
.navbar {
  padding-bottom: 4.5rem;
  padding: 0 0 4.5rem 0;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}
/* Download button */
.download-btn {
  margin: 5% 3% 5% 0;
}

/*============End title section================= */

/*============Begin Features section================= */
#features p {
  color: #8f8f8f;
}

#features {
  position: relative;
}

.feature-box {
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}

/*============End Features section================= */

/*=============Begin Testimonials Section========== */
#testimonials {
  background-color: #ef8172;
}
.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/*=============End Testimonials Section========== */

/*=============Begin Press Section========== */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/*=============End Press Section========== */

/*=============Begin Pricing Section========== */
.pricing-col {
  padding: 3% 2%;
}
/*=============End Pricing Section========== */

/*=============Begin Cta Section========== */

/* footer */
#footer {
  padding-top: 7%;
  padding-bottom: 1%;
}
/*=============End Cta Section========== */

.footer-icon {
  margin: 0 10px 25px 10px;
}
